{
  "logon": {
    "every": [
      {
        "actions": [
          {
            "name": "Cleanup-Temp",
            "params": {
              "days": 7
            },
            "mode": "Silent"
          }
        ]
      }
    ],
    "once": [
      {
        "campaignId": "profil-wartung-q1",
        "validUntil": "2026-03-31",
        "targets": {
          "users": ["EXAMPLE\\user1"],
          "groups": ["EXAMPLE\\CTX_Users"]
        },
        "actions": [
          {
            "name": "Reset-ProfileCache",
            "params": {
              "deep": true
            },
            "mode": "Silent"
          }
        ]
      }
    ]
  },
  "logoff": {
    "every": [],
    "once": [
      {
        "campaignId": "logoff-cleanup",
        "validUntil": "2026-03-31",
        "actions": [
          {
            "name": "Cleanup-Temp",
            "params": {
              "days": 1
            },
            "mode": "Silent"
          }
        ]
      }
    ]
  }
}
